<ion-content [fullscreen]="true">
  <div>
    <ion-title>Bem-Vindo de Volta</ion-title>
    <p>Faça login para acessar sua conta</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>     
      <div>
        <a [routerLink]="['/reset-password']" Esqueceu a senha?></a>
      </div> 
    </div>
    <div class="ion-padding">
      <ion-button expand="full" color="primary" [routerLink]="'/aluno'">Entrar</ion-button>
    </div>
  </form>
</ion-content>
